body {
  width: 850px;
  margin: 0 auto;
}
h1 {
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  font-style: italic;
}
hgroup {
  width: 425px;
  float: left;
}

header {
  padding-top: 40px;

}

.borderimg {
  background-image: url("/images/hr-img.png");
  background-repeat: repeat-x;
  height: 4px;
  width: 850px;
}

#last-border {
  margin-bottom: 50px;
}

#fork {
  float: left;
  margin-right: 3px;
}
#smlogo {
  height:30px;
  padding: 10px;

  
  border-image:url(https://raw.githubusercontent.com/codefellows/seattle-201d63/master/class-10/lab/chocolate-pizza/hr-img.png) 100 repeat;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  
  margin-bottom: 20px;
}
.logos{
  float:right;
  margin: 1px;
}

#rss {
  margin-left: 8px;
}

#main {
  width: 850px;
  margin: 30px 0 10px 0;
}
#print {
  float: right;
  height: 10px;
  margin-top: 30px;
}
h2 {
  font-size: 2em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: lighter;
}

h3 {
  color: #707070;
  font-family: sans-serif;
  font-size: 0.6em;
  letter-spacing: -0.5px;
  margin-top: 3px;
  margin-left: 3px;
  text-transform: uppercase;
}

h4 {
  color: #aaa8a8;
  font-family: sans-serif;
  font-size: 0.7em;
  letter-spacing: -0.5px;
  margin-top: 3px;
  margin-left: 3px;
  text-transform: uppercase;
}

#print h4 {
  display: inline;
}

p {
  color: #707070;
  margin: 20px;
  line-height: 1.25em;
  text-indent: 30px;
}
#list {
  background-image: url("https://raw.githubusercontent.com/codefellows/seattle-201d63/master/class-10/lab/chocolate-pizza/list-bg.png");
  height: 310px;
  margin-bottom: 30px;
}
ul {
  color: #707070;
  font-size: 1.25em;
  line-height: 1.75em;
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
}

input {
  margin-right: 10px;
}

.crossed {
  text-decoration: line-through;
}

#left {
  display: inline;
  float: left;
  padding: 20px;
  padding-left: 80px;
}
#right {
  display: inline;
  float: right;
  padding-right: 100px;
  padding-top: 20px;
}
#writer {
  float: left;
  margin-top: 10px;
}
footer p {
  line-height: 1.3em;
  width: 500px;
  text-indent: 0;
  float: left;
  margin-left: 10px;
  margin-bottom: 5px;
}
#footer {
  height: 100px;
}
button {
  background-color: rgb(195, 97, 62);color: white;
  float: right;
  margin-top: -15px;
  width: 150px;
  padding: 10px;
  letter-spacing: -0.75px;
  text-transform: uppercase;
}

#small-logo {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}

.small-line {
  border-top: solid rgb(240, 240, 240) 0.5px;
  display: inline-block;
  margin-bottom: 15px;
  width: 400px;
}

#copyright {
  margin-bottom: 150px;
}

#copyright p {
  color: #aaa8a8;
  display: block;
  font-size: 0.75em;
  line-height: 0.75em;
  margin: 3px;
  text-align: center;
  width: 850px;
}

#writer-name {
  font-size: 1.25em;
  font-weight: bold;
}

#bio p {
  margin-top: 5px;
}